:local(.tree) {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.3);
}

:local(.tree) a {
    color: #0889ef;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

:local(.tree) a:hover {
    padding-left: 16px;
}

:local(.tree) li {
    margin-top: 32px;
}

:local(.tree) :local(.tree) li {
    margin-top: 8px;
}

:local(.tree) :local(.tree) {
    padding-left: 32px;
    font-size: 0.8em;
    list-style-type: disclosure-closed;
}

:local(.tree) :local(.tree) :local(.tree) {
    list-style-type: none;
}

:local(.tree) :local(.tree) :local(.tree) :local(.tree) {
    font-size: 1em;
}


:local(.svg-circleplus) {
    height: 20px;
    width: 20px;
    stroke: currentColor;
    vertical-align: bottom;
}

:local(.add-button) {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 8px 16px;
    background:#3597ff;
    color:whitesmoke;
    border-radius: 5px;
    outline: 0;
    cursor: pointer;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: all 0.3s ease-out;
}

:local(.add-button) span {
    margin-left: 8px;
}
:local(.add-button):hover {
    background: #1c61aa;
}

/* Reset Select */
:local(.select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
    background: #3597ff;
    flex: 1;
    padding: 0 .5em;
    color: white;
    cursor: pointer;
}

:local(.select-wrapper) {
    position: relative;
    display: flex;
    width: 16em;
    height: 2em;
    line-height: 2;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
}

/* Arrow */
:local(.select-wrapper)::after {
    content: '\25BC';
    color: #aaa;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #248af7;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}
:local(.select-wrapper):hover::after {
    color: white;
}

:local(.tagName) {
    padding: 4px;
    margin-left: 16px;
}

:local(.addTags) form {
    display: flex;
    align-items: center;
}

