:local(.drop-area) {
  border: 2px dashed #ccc;
  border-radius: 20px;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:local(.drop-area) p {
  text-align: center;
  vertical-align: middle;
}

:local(.drop-area) progress {
  width: 340px;
}

:local(.drop-area) progress::-moz-progress-bar {
  background: #0074FF;
}

:local(.drop-area) progress::-webkit-progress-bar {
  background: #0074FF;
}

