@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin:0;
  padding:0;
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}

button {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    outline:0;
}

.prev {
    position: absolute;
    left: 0;
    top: calc(50% - 40px);
}

.next {
    position: absolute;
    right: 0;
    top: calc(50% - 40px);
}

.arrow {
    cursor: pointer;
}

.left:hover polyline {
  stroke-width: 4;
}

.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

.right:hover polyline {
  stroke-width: 4;
}

.right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
  }

.close {
    position: absolute;
}

.close:hover line {
    stroke-width: 4;
}

.media-thumbnail-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 50px;
  justify-content: center;
}

.media-thumbnail {
  border-radius: 5px;
  overflow: hidden;
}

.media-thumbnail > img {
    vertical-align: middle;
}

.content {
    margin: 0 auto;
    width: 1700px;
}

header {
    display: flex;
    height: 125px;
    align-items: center;
}

.search-bar {
    margin-left: 50px;
    flex-grow: 1;
    position: relative;
}

.preview_div {
    background-color: black;
    position: relative;
}

.preview {
    max-width: 100%;
    max-height: 80vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.search-bar > input {
    width: 100%;
    box-sizing: border-box;
}

nav {
    display: flex;
}

nav > :not(:first-child) {
    margin-left: 25px;
}

nav > a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    transition: 0.3s border-bottom-color;
    border-bottom: 3px solid transparent;
}

nav > a.active,
nav > a:hover {
    border-bottom-color: #ccc;
}

ul.options {
    display: block;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    max-height:250px;
    overflow:auto;/* to get scroll */
}

ul.options li {
    display: block;
    background: whitesmoke;
    font-size: 1.2rem;
    width: 100%;
}

 ul.options li.option-active {
    background: #0889ef;
 }

 .mapContainer {
   width:100%;
   height: 80vh;
 }

.zoom {
  background-color:#f8a500;
  display: inline;
}
